.DS_Store
.vscode/ipch/ea1480183a023fd0/mmap_address.bin
TelephoneDimmer/RotaryDialDimmer0003/arduino_secrets.h
.vscode/*
docs/todo.md
LightSensorProjects/LightSensorClient/arduino_secrets.h
LightSensorProjects/LightSensorChart/credentials.js
LightSensorProjects/LightSensorChart/credentials.js
