.DS_Store
.vscode/ipch/ea1480183a023fd0/mmap_address.bin
TelephoneDimmer/RotaryDialDimmer0003/arduino_secrets.h
.vscode/*
docs/todo.md
LightSensorProjects/LightSensorClient/arduino_secrets.h
LightSensorProjects/LightSensorChart/credentials.js
LightSensorProjects/LightSensorChart/credentials.js
LightSensorProjects/LightSensorChart/credentials.js
LightSensorProjects/LightSensorChart/credentials.js
*arduino_secrets.h

HueSkyLight/arduino_secrets.h
HueSkyLight/arduino_secrets.h
HueSkyLight/arduino_secrets.h
spectrometers/AS7341/AS7341_Spectrometer_MQTT/arduino_secrets.h
spectrometers/AS7341/AS7341_Spectrometer_MQTT/arduino_secrets.h
spectrometers/AS7341/AS7341_Spectrometer_MQTT/arduino_secrets.h
