
<p class="header">
    <div id='qrcode'></div><br />
    <a href="{{site.baseurl}}/led-lamps">Low-voltage DC Lamps </a><br /> 
    <a href="{{site.baseurl}}/led-strips"> LED Strip Control</a><br /> 
    <a href="{{site.baseurl}}/addressable-leds">Addressable LEDs</a> <br /> 
    &nbsp;&nbsp;<a href="{{site.baseurl}}/WS281x">NeoPixel Library Quickstart</a> <br /> 
    &nbsp;&nbsp;<a href="{{site.baseurl}}/candles">Making Electronic Candles</a> <br /> 
    <a href="{{site.baseurl}}/fading">Fading</a><br /> 
    <a href="{{site.baseurl}}/chromaticity">Chromaticity</a><br /> 
    <a href="{{site.baseurl}}/color-spaces-color-temp">Color Spaces</a><br /> 
    <a href="{{site.baseurl}}/spectrometers">Spectrometers</a><br /> 
    <a href="{{site.baseurl}}/light-rendering-indices">Light Rendering Indices</a><br /> 
    <a href="{{site.baseurl}}/inventory">Inventory</a><br /> 
    <a href="{{site.baseurl}}/patternMakers">Pattern Making</a>
    <a href="{{site.baseurl}}/telephone-dimmer">Telephone Dimmer for Philips Hue</a>
  <br>
  <a href="https://tigoe.github.io/#light">Tom's other light-related repos</a><br /> 
    <a href="https://tigoe.github.io">tigoe.github.io</a><br /> 
   </p>

    <script src="https://unpkg.com/qrcode-generator@1.4.4/qrcode.js"></script>
    <script src="{{site.baseurl}}/qrcode.js"></script>
